doctype html
html
  head
    title Freebase Plugin
  body
    form method="get"
      p Enter Entrez Gene ID:
      input type="text" name="id" value="1017" size="10" maxlength="10"
      input type="submit"
