doctype html
html
  head
    title Primerbank Plugin
  body
    - if @id.nil?
      form method="get"
        p Enter Entrez Gene ID:
        input type="text" name="id" value="3702" size="10" maxlength="10"

    - else
      form action="http://pga.mgh.harvard.edu/cgi-bin/primerbank/search.cgi" method="POST"
        input type="hidden" Name="selectBox" value="NCBI Gene ID"
        input type="hidden" Name="searchBox" value="#{@id}"
        input type="submit" value="Click for PrimerBank: Gene #{@id}"
