doctype html
html
  head
    title Gene Wiki
  body
    form method="get"
      p Enter Entrez Gene ID (preferable) or Gene Symbol:
      input type="text" name="id" value="3702" size="10" maxlength="10"
