/*
Copyright (c) 2011, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.9.0
*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}

html {
  background: #000;
}

#main {
  width: 960px;
  margin: 0 auto;
}

#main h1 {
  text-align: center;
  color: #EEE;
  
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 160%;
  font-size: 32px;
  padding: 20px 0;
  font-weight: bold;
}

#main #footer {
  padding: 20px 0;
  width: 960px;
}

#main #footer p {
  text-align: center;
  color: #EEE;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 160%;
  font-size: 16px;
}
