doctype html
html
  head
    title Sulab Dashboard
    link href='css/style.css' rel='stylesheet' type='text/css'

  body
    #main
      h1 The Sulab Dashboard

      #streamgraph

      #chart
        .tooltip

      #piegraph

      #footer
       p The Sulab 2012

    script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"
    script src="http://underscorejs.org/underscore-min.js"
    script src="http://d3js.org/d3.v2.min.js"
    script src="js/dashboard.js"
