doctype html
html
  head
    title Slim Examples
    meta name="keywords" content="template language"
    meta name="author" content="author"

  body
    h1 Markup examples

    #content
      p This example shows you how a basic Slim file looks like.

    #chart
      .tooltip

    #piegraph

    div id="footer"
      | Copyright © 2012

    script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"
    script src="http://underscorejs.org/underscore-min.js"
    script src="http://d3js.org/d3.v2.min.js"
    script src="js/dashboard.js"
