/*
Copyright (c) 2011, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.9.0
*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}

$blue:#0CB3CA;
$lightblue:#76E5FF;
$orange:#FF9A2F;

// $t-font:'CMU Serif';
$t-font:'Arial';
$h-font:'MuseoSlab-500';

/*== ELEMENTS ==*/
html, body {
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  background-color:$blue;
}

/*== MAIN ==*/
#main {
  top:0;
  margin:0 auto;
  width:960px;
}

form#signup {
  width: 300px;
  margin: 0 auto;
  margin-top: 240px;
  padding: 20px;
}

form#signup h2 {
  text-align: center;
  font-size: 24pt;
}

form#signup input {
  padding: 6px;
  margin: 20px;
  border: none;
  width: 200px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  border-radius: 5px;


}

